.buttons
    background #999
    padding 1em
    font-size .9em
    margin .3em
    color white
    text-decoration none
    flex-grow 1
    text-align center

@media (max-width: 500px)
    .buttons
        width 100%