.header
    height 80px 
    position fixed 
    padding-left 80px
    padding-right 80px
    width 100% 
    z-index 100
    background #2e384c
    box-shadow 0px 4px 5px #ccc

.sub-header
    -webkit-box-pack justify 
    -webkit-box-align center 
    align-items center 
    display flex 
    height 100% 
    position relative 
    width 100% 
    z-index 1 
    justify-content space-between 
    padding 0px 12px 

img
    width 180px
