body
    width 100%
    height 100vh
    position absolute
    margin 0
    padding 0
    background #f0f0f0

.filterContainer 
    margin 10px auto
    display flex
    -webkit-flex-direction row
    -moz-flex-direction row
    flex-direction row
    justify-content space-between
    flex-wrap nowrap
    max-width 50%

.inputContainer
    padding 40px
    display flex
    & input
        width 30%
        margin 0 auto
        padding 15px
        border none
        border-radius 5px

@media (max-width: 500px)
    .filterContainer
        display block